In [4]:
import pandas as pd

book = pd.read_csv("clean.csv")
book

,Unnamed: 0.1,Unnamed: 0,ID,Name,Location,Grade,Faculty_Title,Join\nDate,Study_Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
0,0,0,LT9210743,Jim Hunter,London,FA,Faculty - Business,29-Aug-10,Full Time,Business,Abbas Houda,Masters,Master of Arts,International Affairs,American University of Beirut,BUS2403 - Innovation & Entrepreneurship\nBUS20...,Business Administration,"10+ Years Small Business Ownership, 10+ Years ...",Industry & Teaching experience
1,1,1,LT9001784,Jose Nadal,London,FA,Faculty - Business,19-Aug-99,Full Time,Business,Abbas Houda,Masters,Master of Science,Business Info. Technology,University of Northumbria,BUS4173 - Managerial Accounting II\nBUS4916 - ...,Business,years of teaching experience: 17 ...,Certification
2,2,2,LT9062955,Pierre Cornet,London,FA,Faculty - Business,08-Apr-07,Full Time,Business,Abbas Houda,Masters,Master of Business Administrat,Marketing,Griffith University,BUS3903 - Contemporary Business\nBUS1303 - Mar...,Marketing and Strategic Management,Years of teaching experience: 15\nYears of pro...,Industry & Teaching experience
3,3,3,LT0000000,Sally Smith,London,FA,Faculty - Business,14-Aug-16,Full Time,Business,Abbas Houda,Ph.D,Ph.D in HRM/ Organizational pyschology,HRM/ Organizational Psychology,"The University of Swansea, UK","HRM, Organizational behaviour, Strategic Mgt, ...",HRM,6 years professional experience + 6 years teac...,Researcher
4,4,4,LT0000000,Ned Shearer,London,Chair,Faculty - Business,14-Aug-16,Full Time,Business,Tony Emmanuel,Ph.D,Ph.D in Economics and International Business,Economics and International Business,"New York University, USA","Micro and Macroeconomics, Statistics,Introduct...",Economics and International Business,1 year professional experience + 24 years teac...,Researcher/Curriculum Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,279,279,LT0000000,Cami Wiegand �,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Economics and Business,Economics,"South East European University, Macedonia","intro to Economics, EU laws and Regulations, O...","Economics, policy and general business course",9 years professional experience+ 11 years teac...,Researcher
280,280,280,LT0000000,Alan Sheely �,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Management Science,Marketing,"University of Economics, Krakow, Poland","Marketing Management, Marketing Research, Cons...",Marketing,16 years professional( consulting) experience ...,Researcher/Curriculum Development
281,281,281,LT0000000,Allison Gall �,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,HRM,"University of Mauritus, Mauritus","HRM, SHRM, Performance and Reward Mgt, Researc...",HRM,14 years professional experience + 9 years tea...,Certification/Researcher
282,282,282,LT0000000,Myles Tena �,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,Economic Sociology,"University of San Paulo, Brazil",Economics and Management,"Financial Mgt, Project Mgt, Entrepreneurial Fi...",12 years professional experience + 11 years te...,Researcher
283,283,283,LT0000000,Dessie Burruss �,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D in Public Policy and Administration,Management and Financial Mgt,"Virginia Commonwealth University, USA","Leadership, Organizational Design and Behaviou...",Finance and Management,16 years professional experience +11 year teac...,Researcher

In [35]:
l = list(range(20))
print(l)
type(l)
type(l[4])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

int

In [43]:
u=["ksjs",99,"hwek",90.32,"dcjksc"]
#[type(it) for it in u]
for it in u:
    print(type(it))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

In [45]:
import numpy as np
i = np.array([3,4.4,4,5,6])
i

array([3. , 4.4, 4. , 5. , 6. ])